$black: #1a1a1a;
$white: #FFF;
$lgrey: #EEE;
$mgrey: #999;
$dgrey: #333;

.lgrey {
	background: $lgrey;
	color: $black;
}

.white {
	background: white;
	color: $black;
}

.black {
	background: $black;
	color: white;
}