p {
    @include adjust-font-size-to(16px);
    margin-bottom: 20px;
    font-weight: 200;
}

h1 {
    @include adjust-font-size-to(42px);
    margin-bottom: 40px;
}

h2 {
    @include adjust-font-size-to(26px);
    margin-bottom: 40px;
}

h3 {
    @include adjust-font-size-to(20px);
    margin-bottom: 20px;
    font-weight: 200;
}

a {
    @include transition(all .5s);
    font-weight: 400;
}

.wrap {
  box-shadow: -10px 0 0 10px #FFF, 10px 0 0 10px #FFF;
}

.inner {
  background: #FFF;
  position:relative;
}

@media ($min_bp_b) {
    p {
        @include adjust-font-size-to(18px);
    }

    h1 {
        @include adjust-font-size-to(62px);
    }

    h2 {
        @include adjust-font-size-to(42px);
    }

    h3 {
        @include adjust-font-size-to(24px);
    }
}